body {
  .app {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    height: 100vh;
    width: 100vw;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      align-self: center;
      align-content: center;
      padding: 5% 0;
      margin: 0 auto;
      max-width: 1020px;

      .content-box {
        background-color: $component-background-color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $select-color;
        width: 80%;
        padding: 20px;
        justify-content: space-between;

        @include media-tablet {
          flex-direction: row;
        }
      }
  }
  }
}