.control-box {
  &_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: $component-background-color;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;

    @include media-tablet {
      flex-direction: row;
    }
  }

  &_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    @include media-tablet {
      flex-direction: row;
      align-content: flex-end;
      justify-content: flex-end;
      margin: 0 0;
    }
  }

  &_options-container {
    display: flex;
  }

  &_search {
    height: 48px;
    width: 40%;
    margin: 5px;
    background-color: $component-background-color;
    border: 0;
    border-radius: 5px;
    align-items: center;
    color: $select-color;
    @include font(#fff, 15px, 600);
    padding-left: 10px;
  }

  &_options-button {
    &__lang, &__celsius, &__fahrenheit  {
      @include buttons;
    }
    
    &__reload {
      @include buttons;

      &__icon {
        width: 30px;
        height: 30px;
      }
    }
    
    &__search {
      @include buttons;

      &__icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  &_speak-button {
    display: flex;
    flex-direction: row;

    &__micro, &__play {
      @include buttons;

      &__icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.select {
  background-color: rgba(78, 72, 72, 0.301);
  color: $select-color;
}