.forecast {
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    @include font($select-color, 20px, 600);

    @include media-tablet {
      flex-direction: row;
    }
  }

  &_weather {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    @include media-tablet {
      flex-direction: row;
    }
    
    &__temp {
      display: flex;
      align-items: center;
    }
  }
}