@import "./colors";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: $background-primary-color;
}

footer { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-primary-color;
}

.icon {
  width: 50px;
  height: 50px;
}