$main-background-color: #0c82c279;
$navigation-button-color: #306974;
$navigation-hover-color: #59ecaf;
$navigation-hover-background: #6cc3e6;
$navigation-hover-box-shadow: #0a8196;
$navigation-hover-tex-shadow: #073f49;