@import "./colors"; 

body {
  padding-top: 2rem;
}

.container-fluid {
  display: flex;
}

.menu-content { 
  width: 20em;
}

.row {
  align-items: center;
}

.failedGame {
  z-index: 1000;
}

.h-5 {
  height: 100%;
}
.pt-10 {
  padding-top: 5%;
}

.star-container {
  max-width: 1110px;
}

.icon {
  width: 25px;
  height: 25px;
  padding-right: 5px;
}
.rotateButton {
  margin: 5px;
  width: 20px;
  height: 20px;
}

.rotate-right {
  animation: rotate_right 0.25s;
  backface-visibility: hidden;
}
.rotate-left {
  animation: rotate_left 0.35s;
  backface-visibility: hidden;
}

@keyframes rotate_right {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotate_left {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

// .rotate {
//   transform: rotateX(360deg);
// }

.cursor-pointer {
  cursor: pointer;
}

.nav-item:hover,
.nav-item:focus {
  color: $navigation-hover-color;
  background: $navigation-hover-background;
  box-shadow:5px 5px 0 $navigation-hover-box-shadow inset;
  text-shadow:1px 1px 0 $navigation-hover-tex-shadow;
}

.h-0 {
  height: 0;
}

.trans-05 {
  transition: 0.5s;
}

.trans-1 {
  transition: 1s;
}

.active {
  text-decoration-color: #fff;
}